<!doctype html>
<html ng-app='myapp'>

	<head>
		<meta charset="utf-8">
		<title>Layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/global.css" media="all">-->
		<link rel="stylesheet" href="css/button.css" />
		<link rel="stylesheet" href="css/button.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css" />
		<script type="text/javascript" src="js/jquery-2.1.0.js"></script>
		<script type="text/javascript" src="js/angular1.5.8.js"></script>
		<script type="text/javascript" src='js/goodstype.js'></script>
		<style>
			td>input {
				border: 0px;
			}
		</style>
	</head>

	<body>
		<div>
			<fieldset>
				<legend class="goods">商品类信息管理</legend>
				<div id="top">
					<div>
						<button class="add addOne" id='addBtn'><i class="fa fa-plus-square icon "></i>新增</button>
					</div>
					<div class="right">
						<form>
							<input type="input" placeholder="你要搜索的内容" class="inp" />
							<button>搜索</button>
						</form>
					</div>
				</div>

				<table ng-controller='myctrl'>
					<thead>
						<tr class="oneTr">
							<td style="width: 60px; height: 40px;"><input type="checkbox" name="goods">全选</td>
							<td style="width: 60px; height: 40px;">ID</td>
							<td style="width:350px; height: 40px;">商品类型</td>
							<td style="width: 150px; height: 40px;">操作</td>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat='goods in goodsList'>
							<td><input type="checkbox" name="goods"></td>
							<td>{{goods.id}}</td>
							<td><input ng-model="goods.name"> </td>
							<td class="addbtn" style="margin-top: 0px;">
								<span class="fa fa-file  savegoods"></span>
								<span class="fa fa-trash  delgoods"></span>

							</td>
						</tr>
					</tbody>

					<table>

						<tr class="oneTr">
							<td style="width: 60px; height: 40px;"><input type="checkbox" name="goods" value="全选">全选</td>

							<td style="width: 60px; height: 40px;">ID</td>
							<td>商品图片</td>
							<td style="width:350px; height: 40px;">商品名称</td>
							<td style="width: 100px; height: 40px;">数量</td>
							<td style="width: 250px; height: 40px;">操作</td>

						</tr>
						<tr>
							<td><input type="checkbox" name="goods" value="全选"></td>

					</table>
			</fieldset>
		</div>
		<div class="mark"></div>
		<div class="addtab">
			<div class="">
				<h2>添加商品</h2>
				<span class="del">x</span>
			</div>
			<div class="content">
				<form>
					<div>
						<label>商品类型：</label>
						<input type="text" placeholder="请输入名称" />
					</div>
					
					<button>提交</button>
				</form>
			</div>
		</div>
		<!--<script type="text/javascript" src="plugins/layui/layui.js"></script>-->
	</body>
	<script src="js/button.js"></script>

</html>